html {
   -webkit-text-size-adjust: none;
}
.video embed,
.video object,
.video iframe {width: 100%; height: auto;}
img{max-width:100%;	height: auto; width: auto\9; }

@media only screen and (min-width: 959px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	/* -------------------------------------------- */
	/* ------------------Content------------------- */

	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */

	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */

}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
	
}

@media only screen and (max-width: 767px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	header {margin-top: 0px;height:150px;}
/* 	header #logo{top:60px;} */

	nav .wrap-nav{top: 10px; left:10px; right:auto;}

	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}

@media only screen and (max-width: 1000px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	header{height: 150px;}

	nav .wrap-nav {position:relative; height: 37px; left:0px; top:25px;}
	.menu{display:none;}
	.minimenu{display:block;}

	.wrap-content .visa button{width:auto; min-width: 90px;}
	.wrap-content .sim-slider {display: none;}
	.wrap-header .tel {display:none;}
	.wrap-header .telm {display:block;}

	.wrap-content .scrolling-wrapper {
			overflow-x:auto; }
	
	.wrap-content .slider {
			display: flex;
			overflow-x:auto; }		
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	.wrap-content table{ width: inherit; }

	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}

@media only screen and (max-width: 800px) {
	/* -------------------------------------------- */
	/* ------------------Header-------------------- */
	/* -------------------------------------------- */
	/* ------------------Content------------------- */
	.block03 div[class*='col-'] {width:100%;}
	/* -------------------------------------------- */
	/* ------------------Footer-------------------- */
	
	/* -------------------------------------------- */
	/* ------------------Other----------------*---- */
}