/*
Free Html5 Responsive Templates
Author: Kimmy
Author URI: http://www.zerotheme.com/
*/
/* -------------------------------------------- */
/* ------------------Reset--------------------- */
a,abbr,acronym,address,applet,article,aside,audio,b,blockquote,big,body,center,canvas,caption,cite,code,command,datalist,dd,del,details,dfn,dl,div,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,keygen,label,legend,li,meter,nav,object,ol,output,p,pre,progress,q,s,samp,section,small,span,source,strike,strong,sub,sup,table,tbody,tfoot,thead,th,tr,tdvideo,tt,u,ul,var{background:transparent;border:0 none;font-size:100%;margin:0;padding:0;border:0;outline:0;vertical-align:top;}ol, ul {list-style:none;}blockquote, q {quotes:none;}table, table td {padding:0;border:none;border-collapse:collapse;}img {vertical-align:top;}embed {vertical-align:top;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {display:block;}
mark, rp, rt, ruby, summary, time {display:inline;}
input, textarea {border:0; padding:0; margin:0; outline: 0;}
iframe {border:0; margin:0; padding:0;}
input, textarea, select {margin:0; padding:0px;}

/* -------------------------------------------- */
/* ------------------Font---------------------- */

/*Add your font at here*/

/* -------------------------------------------- */
/* ------------------Style--------------------- */
html, body {width:100%; padding:0; margin:0;}
body {background: #FFE4B5;color: #474747;font: 14px/22px Arial, Helvetica, sans-serif;}

a{color: #474747; text-decoration: none;}
a:hover {color: #DA251D; text-decoration: none;}

a.button{cursor: pointer;color: #ffffff;line-height: 14px;font-family: Arial, Helvetica, sans-serif;font-size: 14px;font-weight: bold;	background: #3F3F3F;}
a.button {display: inline-block;text-decoration: none;padding: 6px 12px 6px 12px;}
a.button:hover{}

.clear{content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* -------------------------------------------- */
/* ------------------Header-------------------- */
header {}
header .wrap-header{height: 110px;}

header #logo {position:absolute; top:30px; padding:5px; width: 100%;}

nav {}
nav .wrap-nav{position:absolute; top:80px; right:10px; height: 37px; background:#333;}

.menu ul {list-style: none; margin: 0; padding: 0; border: 1px solid black;}
.menu  ul li {position: relative; float: left; padding: 4px 4px 0px 4px;}
.menu  ul li:hover {background:#DA251D;}
.menu  ul li a {font-size: 14px; line-height:14px;display: block;padding: 6px 10px;margin-bottom: 5px;z-index: 6;position: relative; text-transform:uppercase;}
.menu  ul li:hover a {color:white; background:black;}

.minimenu {display:none;}
.minimenu {position: relative;margin: 0px;background:grey;}
.minimenu div {overflow: hidden;position: relative;font: 18px/37px 'PT Sans Narrow';color: #fff;text-align:center;text-transform:uppercase;font-weight:bold;}
.minimenu select {position: absolute;top: 0px;left: 0px;width: 100%;height: 100%; opacity: 0;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);	cursor: pointer;}

.wrap-header .telm {display: none;}
.wrap-header .tel {display:inline-block; margin: 5px; margin-top: 35px;}
/* -------------------------------------------- */
/* ------------------Featured---------------- */

.featured{margin:30px auto;}
.featured .wrap-featured{background:#333;}
.featured .wrap-featured .slider{padding: 10px;}

/* -------------------------------------------- */
/* ------------------Content------------------- */
#content {}
#content .wrap-content{background-color:#FFF; border:1px solid #CCC; margin-top: 30px; padding:10px; width: auto;}
 
.block01 {text-align:center; padding-bottom:30px;}
.block01 img{border:5px solid #CCCCCC;}
.block01 h2{font-size:20px; line-height:30px;}

.block02 {margin:10px; border-bottom:1px dashed #cccccc; border-top:1px dashed #cccccc;}
.block02 p { padding:10px; font-size:14px; text-align:justify; line-height:20px;}
.block02 a {color:#DA251D;}

.block03 {margin:0px 0;}
.block03 h2{font-size:18px;}
.block03 img{float:left; margin-right:0px;}

 .wrap-content .p {
	 padding:5px; text-align:justify;text-indent: 25px;
 }

.wrap-content table{ 
    width: 800px; /* Ширина таблицы */
    border: 2px solid black; /* Рамка вокруг таблицы */
    border-radius: 5px;
	margin: auto;
    //background: silver; /* Цвет фона таблицы */
   }
.wrap-content tr, td, th { 
    text-align: center; /* Выравнивание по центру */
    padding: 3px; /* Поля вокруг содержимого ячеек */
	padding-left: 10px;
   }
.wrap-content th { 
    //background: #4682b4; /* Цвет фона */
    //color: white; /* Цвет текста */
    border-bottom: 1px solid black; /* Линия снизу */
   }
.wrap-content .lc { 
    text-align: center; /* Выравнивание по левому краю */
   }
.wrap-content .ll { 
    //font-weight: bold; /* Жирное начертание текста */
    text-align: left; /* Выравнивание по левому краю */
	padding-left: 10px;
   }
.wrap-content .rpic {
    //float: right; /* Выравнивание по правому краю */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии */
	margin-bottom: 0px;
	vertical-align: middle;
	width: 70px;
	height: 40px;
	border: 1px solid black;
   }
   
.wrap-content .back{
		opacity: .4;
		position:left;
}
.wrap-content .back .dlpic {
	margin-bottom: 3px;
	vertical-align: middle;
	width: 15px;
	height: 15px;
	opacity: .4;
   }  
  
 .wrap-content ul:not(.sim-slider-list):not(.wrap):not(.visa):not(.visam) {
    padding:0;
    list-style: none;
}
.wrap-content ul:not(.sim-slider-list):not(.wrap):not(.visa):not(.visam) li{
    padding:4px;
	line-height: 1.4;
}
.wrap-content ul:not(.sim-slider-list):not(.wrap):not(.visa):not(.visam) li:before {
    padding-right:10px;
    font-weight: bold;
    color: #C0C0C0;
    content: "\2714";
    transition-duration: 0.5s;
}
.wrap-content ul:not(.sim-slider-list):not(.wrap):not(.visa):not(.visam) li:hover:before {
    color: #337AB7;
    content: "\2714";
}

/* .wrap-content .wrap li {color:white; background:black;} */
.wrap-content .wrap button{width:auto; height: 120%; text-align:center;}
.wrap-content .wrap button:hover {background:  #FFF;}
.wrap-content .wrap li {padding:4px;	line-height: 1.8;}
/* .wrap-content div .wrap:hover {background:lightgrey; width: 23%;} */
/* .wrap-content .wrap:hover a{font-size: 120%;color:black;} */

/* .wrap-content .download a{background:#FFE4B5;text-align: center;border-radius: 2px;	vertical-align: middle;line-height: 2;} */
/* .wrap-content .download:hover a{font-size: 110%;color:black;background:lightgrey; width: 33%;} */

.wrap-content .visam {display: none;}
.wrap-content .visam button{width:90px; height: 120%;text-align:center;}
.wrap-content .visam button:hover {background:  #FFF;}
.wrap-content .visam li {  padding:4px;	line-height: 1.8;}

.wrap-content h3{font-size:22px;}
.wrap-content .visa {
    margin-bottom: 8px;
    padding:0;
    list-style: none;
    counter-reset: li;
}    
.wrap-content .visa li {
    position: relative;
    border: 2px solid black;
    background: lightgrey;
    padding:8px 20px 6px 28px;
    margin:12px 0 12px 40px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.wrap-content .visa li:hover {
    background: #FFF;
}
.wrap-content .visa li:before {
    line-height: 32px;
    position: absolute;
    top: 4px;
    left:-40px;
    width:40px;
    text-align:center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    background: grey;
    counter-increment: li;
    content: counter(li);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.wrap-content .visa li:hover:before {
    width:46px;
}
.wrap-content .visa li:after {
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    height: 0;
    width: 0;
    border: 16px solid transparent;
    border-left-color: grey;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s
}
.wrap-content .visa li:hover:after {
    margin-left: 6px;
}

.wrap-content .contact img{width:55px; height:55px;}

 summary::-webkit-details-marker {
    display: none;
}

summary::after {
	/*background: grey;*/
    border-radius: 2px;
    content: "+";
	border: 1px solid black;
    color: #000;
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 10px 0 0;
    padding: 0;
    text-align: center;
    width: 20px;
}

details[open] summary::after {
    content: "-";
}
/* -------------------------------------------- */
/* ------------------Footer-------------------- */
footer {background-color:#333; margin-top:30px;}
footer .wrap-footer{padding:10px 0px; color:#ffffff;}
footer .box{}
footer .heading{ padding:5px; border-bottom:3px solid #FFFFFF;}
footer .heading h2{font-size:22px; font-weight:normal; display:inline; padding:0 5px;}
footer .content{padding:5px}
footer .content a{color:#DA251D; text-decoration:none;}
footer .content .gallery img{ float:left; padding:5px; border:1px solid #CCC; margin:5px;}

.copyright{text-align:center; margin-top:20px;}
.copyright a{color:#ffffff; text-decoration:underline;}
